@import url("https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Varela+Round&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=Dancing+Script:wght@400;500;600;700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Varela+Round&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar {
  width: 2px;
  height: 6px;
  border-radius: 30px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
  width: 2px;
  height: 2px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #bc835a;
  border-radius: 200px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #bc987e;
}
