@import url("https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Varela+Round&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=Dancing+Script:wght@400;500;600;700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Varela+Round&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-shape-divider-bottom-1703067560 {
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1703067560 svg {
  position: relative;
  display: block;
  width: calc(211% + 1.3px);
  height: 500px;
}

.custom-shape-divider-bottom-1703067560 .shape-fill {
  fill: #D5A989;
}





.custom-shape-divider-top-1703073171 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-top-1703073171 svg {
  position: relative;
  display: block;
  width: calc(124% + 1.3px);
  height: 251px;
}

.custom-shape-divider-top-1703073171 .shape-fill {
  fill: #D5A989;
}






::-webkit-scrollbar {
  width: 2px;
  height: 6px;
  border-radius: 30px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
  width: 2px;
  height: 2px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #bc835a;
  border-radius: 200px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #bc987e;
}